{
  "presets": [
    ["latest", {
      "es2015": { "modules": false }
    }]
  ]
  // "plugins": [
  //   ["module-resolver", {
  //     "root": ["./src"],
  //     "alias": {
  //       "test": "./test"
  //     }
  //   }]
  // ]
}
