.ct-chart .ct-series-a .ct-point, .ct-chart .ct-series-a .ct-line {
    stroke: #95a5a6; }
.ct-chart .ct-series-b .ct-point, .ct-chart .ct-series-b .ct-line {
    stroke: #f1c40f; }
.ct-chart .ct-series-c .ct-point, .ct-chart .ct-series-c .ct-line {
    stroke: #e74c3c; }
.ct-chart .ct-series-d .ct-point, .ct-chart .ct-series-d .ct-line {
    stroke: #3498db; }
.ct-chart-humid .ct-series-a .ct-point, .ct-chart-humid .ct-series-a .ct-line {
    stroke: #95a5a6; }
.ct-chart-solar .ct-series-a .ct-point, .ct-chart-solar .ct-series-a .ct-line {
    stroke: #f1c40f; }
.ct-chart-temp .ct-series-a .ct-point, .ct-chart-temp .ct-series-a .ct-line {
    stroke: #e74c3c; }
.ct-chart-moist .ct-series-a .ct-point, .ct-chart-moist .ct-series-a .ct-line {
    stroke: #3498db; }

.ct-label{
  font-size: 80%;
  /*margin-left: 10%;*/
  color: black;
}

.ct-minor-sixth{
  padding: 20px;
  border: 2px solid red;
}

.top-content{
  margin-bottom: 10px;
}
