/*****************************************************
** Formatting for the login page.  Helps with making the display organized and user friendly
** We use the material design guidlines from the materialize website.
** Namely we use Roboto for the font in various areas, along with colors that follow the guidelines.
** Used various font sizes depending on how important the text being displayed is.
** Modified by: Deshawn Rivers
** date: 7/27/2017;
***********************************************************/

/*Styling for the body; mainly handles just the background*/
body{
    background-image: url("../images/forest-login/forest2.png");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}
/*Styling for the login box wrappers*/
.rightBox{
    opacity: 0.75;
}
/*Formatting for the left blue background square*/
.topLeftSquare{
    font-family: 'Roboto';
    height: 100vh;
    background-color: rgba(76, 207, 224, 0.6);
    overflow: hidden;
    z-index: 2;
}

/*Add some padding to make it visually better*/
.loginBox{
    padding-top: 10%;
}

/*Styling for the right white background square*/
.wrapper{
    background-color: rgba(180, 200, 230, 0.4);
    height: 100vh;
}

/*Formatting for the big text within the text box*/
.bigtext {
    position:relative;
    color: white;
    font-size: 600%;
    color: white;
}

/*Formatting materialize button for our desired colors*/
.btn.waves-effect.waves-light {
  background: rgb(76, 207, 224);
  width: 100%;
}
